.blok {
	border-style: none;
	margin: 0px;
	color: white;
}

.logo {
	height: 100%;
	vertical-align: center;
	float: left;
}

.login {

	float: right;
}

.logotekst {
	vertical-align: center;
	color: white;
	font-size: 36px;
	font-weight: 800;
	
	height: 100%;
	width: 100%;
	
	text-align: center;
}

p, li {
	padding-left: 10px;
	padding-right: 10px;
}

ul {
	margin-top: 0px;
}

body {
	height: 600px;
}

header {
	clear:both;
	background-color: blue;
	height: 20%;
}

nav {
	float: left;
	background-color: red;
	width: 20%;
	height: 60%;
}

main {
	float: right;
	background-color: green;
	width: 80%;
	height: 60%;
	max-height: 80%;
	overflow-y: scroll;
}

footer {
	clear:both;
	background-color: black;
	height: 20%;
}

.keuzetekst {
	margin-top: 0px;
	
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

p.keuzetekst {
	background-color: black;
	font-weight: 700;
}

a.keuzetekst {
	color: white;
	text-decoration:none;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: lowercase;
}

.keuzetekst::first-letter {
	text-transform: uppercase;
}

.keuzetekst:hover {
	font-weight: 700;
	background-color: black;
	text-transform: uppercase;
}